@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: hsl(214, 100%, 5%);
    font-family: "Plus Jakarta Sans", sans-serif;
}

header{
    background-color: hsl(214, 100%, 5%);
}
    header div{
        width: 1280px;
        height: 98px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*.barra de navegación */
        header div nav a{
            padding: 16px;
            color: white;
            font-size: 20px;
            text-decoration: none;
            border-bottom: 4px solid transparent;
        }
        header div nav a:hover{
            color: hsl( 192, 100%, 50% );
            border-bottom: 4px solid hsl( 192, 100%, 50% );
        }

/* hero section */        
#hero{
    background-color: #000A17;
    background-image: url(../imgs/bg-ondas.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
    #hero div{
        width: 1280px;
        height: 680px;
        margin: auto;
        display: flex;
        align-items: center; /* centrar en eje vertical */
    }
        #hero div article{
            width: 640px;
            padding: 8px;
            font-size: 20px;
            color: white;
        }
            #hero div article h1{
                margin-bottom: 24px;
                font-size: 40px;
                font-weight: 400;
            }
            .azul{
                color: hsl(192, 100%, 50%);
            }
            .indigo{
                color: hsl(274, 88%, 66%);
            }

/* sección casos de uso */
#casos{
    width: 1280px;
    margin: 16px auto;
    padding: 16px 0px;
    height: 438px;
    font-size: 20px;
}
    #casos h2{
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    #casos div{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    #casos div article{
        width: 302px;
        padding: 16px;
        box-shadow: 0px 1px 8px hsl(0, 0%, 60%)
    }
        #casos div article h3{
            font-size: 24px;
            font-weight: 400;
            margin: 16px 0px;
        }
        #casos div article p{
            font-size: 16px;
        }
        #casos div article a{
            padding: 8px 20px;
            margin-top: 24px;
            text-decoration: none;
            color: hsl(236, 78%, 68%);
            font-size: 16px;
            border-radius: 8px;
            display: block;
            transition: .5s;
        }
        #casos div article a:hover{
            color: white;
            background-color: hsl(236, 78%, 68%);
        }
/*### sección artículos ###*/
#articulos{
    width: 1280px;
    margin: 16px auto;
    padding: 16px 0px;
    font-size: 20px;
}
    #articulos h2{
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    #articulos div{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
        #articulos div article{
            width: 410px;
            padding-bottom: 16px;
            border-radius: 8px;
            box-shadow: 0px 1px 8px hsl(0, 0%, 60%);
        }
            #articulos div article img{
                border-radius: 8px 8px 0px 0px;     
            }
            #articulos div article h3{
                font-size: 24px;
                font-weight: 400;
                margin: 16px 24px;
            }
            #articulos div article p{
                font-size: 16px;
                margin: 0px 24px;
            }
            #articulos div article a{
                margin: 24px 24px 0px 24px;
                padding: 8px 20px;
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: hsl(236, 78%, 68%);
                transition: 500ms;
            }
            #articulos div article a:hover{
                color: white;
                background-color: hsl(236, 78%, 68%);
                border-radius: 8px;
            }


/*##### sección contacto ##### */            
#contacto{
    background-color: hsl(214, 100%, 5%);
}

    #contacto div{
        width: 1280px;
        height: 720px;
        margin: auto;
        padding-top: 40px;
        background-image: url(../imgs/bg-contacto.png);
    }
        #contacto div form{
            width: 520px;
            padding: 24px 32px;
            border: 1px solid hsl(236, 78%, 68%);
            border-radius: 16px;

            color: white;
        }
            #contacto div h1{
                font-size: 32px;
                font-weight: 400;
                margin-bottom: 16px;
            }
            #contacto div form input{
                width: 100%;
                margin-top: 24px;
                padding: 12px 20px;
                background-color: hsl(214, 100%, 5%);
                border: 1px solid hsl(236, 78%, 68%);
                border-radius: 8px;
                font-size: 20px;
                color: white;
            }
            #contacto div form textarea{
                width: 100%;
                height: 196px;
                margin-top: 24px;
                padding: 12px 20px;
                background-color: hsl(214, 100%, 5%);
                border: 1px solid hsl(236, 78%, 68%);
                border-radius: 8px;
                font-size: 20px;
                color: white;
                resize: none;
            }
            #contacto div form input::placeholder,
            #contacto div form textarea::placeholder{
                color: hsl(236, 78%, 68%);
            }


            #contacto div form select{
                width: 100%;
                margin-top: 24px;
                padding: 12px 20px;
                background-color: hsl(214, 100%, 5%);
                border: 1px solid hsl(236, 78%, 68%);
                border-radius: 8px;
                font-size: 20px;
                color: hsl(236, 78%, 68%);
            }


            #contacto div form button{
                width: 100%;
                margin-top: 24px;
                padding: 10px 20px;
                background-color: hsl(236, 78%, 68%);
                border: none;
                border-radius: 8px;
                font-size: 20px;
                color: white;
            }