@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color: hsl(30, 100%, 80%);
    color: hsl(30, 100%, 18%);
    /* font-family: Rotis, 'Trebuchet MS', sans-serif; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    width: 768px;
    margin: auto; /* centra un contenedor en el eje X */
}
h1{
    font-weight: 300;
    color: hsl(30, 100%, 98%);
    background-color: hsl(30, 100%, 14%);
    padding: 24px;
}
h2{
    font-weight: 900;
    color: hsl(30, 100%, 40%);
    /* border: 8px solid rgb(250, 1, 155); */
    border-left: 20px solid  hsl(30, 100%, 40%);
    padding-left: 32px;
}

section{
    margin: 8px 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}