@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
#hero{
    height: 640px;
    width: 1280px;
    margin: auto;
    background-image: url(../imgs/gwc.jpg);

    color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    font-size: 32px;
}
    #hero h1{
        font-size: 80px;
        font-weight: 400;
    }
